body{
    background-color:#E9F1E9;}


header{
    position:fixed;
    width:100%;
    display:flex;
    top:0;
    color:#141414;
    height:60px;
    justify-content:space-between;
    font-family:public sans;
    border-bottom:1px solid #DFE9DF;
    background-color:#E9F1E9;
    left:0;
  margin-right:20px;
}
a{
    color:#141414;
    text-decoration:none;

}
header img{
    max-height:40px;
    margin-top:2px;
    padding-right:20px;
}
#topleft{
    display:flex;
    width:75%;
    margin-top:10px;
    padding-bottom:5px;
    padding-left:30px;
}
#navigation{
    margin:20px;
    margin-top:25px;
    display:flex;
    width:25%;
    padding-right:10px;
    font-size:14px;
    justify-content:space-between;
}
.navy{
    padding-left:5px;
}

#picofme img{
    max-height:150px;
    margin-right:35px;}
#hole{
    display:flex;
    margin-left:80px;
    width:100%;
    margin-top:80px;
    color:#141414;
}
#entro h1{
    font-size:14px;
    font-weight:600;
}
#intro2{
    display:flex;
    padding-bottom:10px;
    margin-left:5px;
}

#intro2 h2{
    font-family: 'Space Mono', monospace;
    font-style:italic;
    font-weight:600;
    font-size:55px;
}
#intro2 h3{
    font-family:public sans;
    font-size:55px;
    padding-left:10px;}

#info{
    font-family:public sans;
    font-size:55px;
    line-height:60px;
    font-weight:200;
    width:60%;
    margin-top:-65px;
}

#entro{
    line-height:10px;
    margin-top:-2px;
    font-size:12px;
    font-weight:200;
}


#background{
    color:#141414;
    margin-left:80px;
    margin-top:80px;
}

.title{
    margin-left:80px;
    color:#141414;
    margin-top:80px;
}
h4{
    font-family:public sans;
    font-weight:500;
    font-size:16px;
}
p{
    font-family:public sans;
    font-size:14px;
    line-height:20px;
}
.bodyodyody{
    margin-top:-15px;
    font-weight:200;
}
footer{
    font-family: 'Space Mono', monospace;
    font-style:italic;
    color:#141414;
    font-weight:300;
    text-decoration:underline;
    margin-top:60px;
    margin-left:80px;
}
.footnav{
    font-size:68px;
    padding-top:120px;
}
.smaller{
    font-size:55px;
    padding-top:120px;
padding-bottom:240px;
}


.work{
    margin-left:80px;
    color:#141414;
    margin-right:80px;
    justify-content:space-between;
    display:flex;
    
}
.col2{
    margin-left:80px;
    padding-right:80px;
}
.row2{
    margin-top:80px;
}

.talmbout{
    margin-top:20px;
    font-family:public sans;
    line-height:25px;
    width:75%;
}
.smallhead{
    font-weight:600;
    font-size:18px;
}
.smallinfo{
    font-size:14px;
    margin-top:10px;
    font-weight:300;
}
.smallview img{
    max-height:400px;
}


@media only screen and (max-width:1450px){
    
    .smallview img{
        max-height:300px;
    }

}@media only screen and (max-width:1400px){
    
    .smallview img{
        max-height:280px;
    }

}
@media only screen and (max-width:1300px){
    
    .smallview img{
        max-height:240px;
    }
    #info{
        width:75%;
    }
    #navigation{
        width:50%;
    }

}
@media only screen and (max-width:1100px){
    
.smallview img{
    max-height:200px;
}

    #info{
        width:80%;
    }
    .bodyodyody{
        width:85%;
    }

}
@media only screen and (max-width:950px){
    
.smallview img{
    max-height:160px;
}

    #info{
        width:80%;
    }

}
@media only screen and (max-width:800px){
    
    #entro{
        display:none;
        width:0%;
    }
    #topleft{
        padding-left:50px;
    }
    #navigation{
        width:100%;
    }

    footer{
        margin-left:40px;
    }
    .footnav{
        font-size:55px;
    }
    .smaller{font-size:45px;}
    

#hole{
    margin-left:40px;
    width:90%;
    margin-top:60px;
}

#intro2 h2{
    font-size:35px;
}
#intro2 h3{
    font-size:35px;}

#info{
    font-size:35px;
    line-height:40px;
    width:70%;
    margin-top:-40px;
}

#background{
    margin-left:40px;
    width:70%;
}
.title{
    margin-left:40px;}
h4{
    font-size:14px;
}
p{
    font-size:12px;
}
.bodyodyody{
    width:90%;
}
.work{
    display:grid;
    margin-left:40px;
    margin-top:40px;
}
.row2{
    margin-top:80px;
}
.col2{
    margin-left:-0px;
    margin-top:80px;
}
.smallview img{
    max-height:200px;
}

.talmbout{
    line-height:20px;
}
.smallhead{
    font-size:14px;
}
.smallinfo{
    font-size:12px;
}
}

@media only screen and (max-width:550px){

    footer{
        margin-left:40px;
    }
    .footnav{
        font-size:45px;
    }
    .smaller{
        font-size:35px;
    }
    
}
@media only screen and (max-width:450px){
    
    footer{
        margin-left:40px;
    }
    .footnav{
        font-size:35px;
    }
    .smaller{
        font-size:25px;
}
    

#hole{
    margin-left:40px;
    width:90%;
}

#intro2 h2{
    font-size:20px;
}
#intro2 h3{
    font-size:20px;
}

#info{
    font-size:20px;
    line-height:25px;
    width:50%;
    margin-top:-25px;
}

#background{
    margin-left:40px;
    width:90%;
}
.title{
    margin-left:40px;
}
h4{
    font-size:12px;
}
p{
    font-size:10px;
}
.smallview img{
    max-height:150px;
}

.talmbout{
    margin-top:15px;
    line-height:15px;
    width:100%;
}
.smallhead{
    font-size:12px;
}
.smallinfo{
    font-size:10px;
}
.work{
    margin-left:40px;
    display:grid;
    
}
.col2{
    margin-left:0px;
}
.row2{
    margin-left:40px;
}


}
@media only screen and (max-width:350px){
    
    footer{
        margin-left:40px;
    }
    .footnav{
        font-size:35px;
        padding-top:60px;
    }
    .smaller{
        font-size:25px;
        padding-top:40px;
    padding-bottom:60px;
}
    

#hole{
    margin-left:40px;
    width:90%;
}

#intro2 h2{
    font-size:20px;
}
#intro2 h3{
    font-size:20px;}

#info{
    font-size:20px;
    line-height:25px;
    width:50%;
    margin-top:-25px;
}

#background{
    margin-left:40px;
    width:90%;
}
.title{
    margin-left:40px;
}
h4{
    font-size:12px;
}
p{
    font-size:10px;
}
.smallview img{
    max-height:120px;
}

.talmbout{
    margin-top:15px;
    line-height:15px;
    width:100%;
}
.smallhead{
    font-size:12px;
}
.smallinfo{
    font-size:10px;
    width:100%;
}
.work{
    margin-left:40px;
    display:grid;
    
}
.col2{
    margin-top:80px;
    margin-left:0px;
}
.row2{
    margin-left:40px;
}

footer{
    margin-left:40px;
}
.footnav{
    font-size:25px;
    padding-top:80px;
}
.smaller{
    font-size:25px;
    padding-top:80px;
padding-bottom:120px;
}}